.diary__footer {
  display: flex;
  flex-direction: column;
}

.diary__footer-shared {
  padding: 70px 30px;
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.diary__footer-shared-text {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  color: #0b4a56;
}

.diary__footer-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diary__footer-button {
  margin: 0;
  box-sizing: border-box;
  width: 164px;
  height: 40px;
  background-color: #417d88;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #ffffff;
}
.diary__footer-button:disabled {
  opacity: 0.3;
}

.footer__input-checkbox {
  display: flex;
  align-items: center;
  width: 68px;
  height: 37px;
  padding: 0;
  border: 1px solid #656565;
  border-radius: 100px;
  margin: 0;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.footer__input-checkbox:focus-visible {
  outline: 2px solid #00f;
  outline-offset: 1px;
}

.footer__input-checkbox:checked {
  background-color: #417d88;
}

.footer__input-checkbox::after {
  display: block;
  width: 31px;
  height: 28px;
  border-radius: 100%;
  background-color: #417d88;
  content: '';
  transform: translate(0.1em, 0.08em);
  transition:
    transform 0.5s,
    background-color 0.5s;
}

.footer__input-checkbox:checked::after {
  background-color: #fff;
  transform: translate(1.9em, 0.08em);
}
