.diary__card {
  width: 270px;
  border: 1px solid #0000001a;
  border-radius: 8px;
  padding: 16px 14px 26px 11px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 27px;
  transition: all ease-in-out 0.3s;
  justify-content: space-between;
}

@media screen and (width >=320px) and (width <=480px) {
  .diary__card {
    width: auto;
  }
}

.diary__card:hover {
  border: 1px solid #140303fa;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__card {
    width: auto;
    row-gap: 12px;
  }

  .diary__card:hover {
    border: 1px solid #0000001a;
  }
}

.diary__card-title-client {
  color: #417d88;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  width: auto;
  height: 70px;
  background-color: #fff5de;
  padding-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__card-title-client {
    gap: 13px;
    width: auto;
  }
}

.diary__card-title__day {
  height: 100%;
  padding-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 17px;
}

.diary__card-title__date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.diary__card-text {
  word-wrap: break-word;
  color: #656565;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-family: 'Montserrat';
  font-style: italic;
  width: 249px;
  height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__card-text {
    height: 34px;
  }
}

.diary__card-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 189px;
  width: 100%;
}

.diary__card-button {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}

.diary__button-text {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__card-button {
    background-color: #fffcf5;
    border: 1px solid #b2b0ab;
    color: #2c3742;
    padding: 7px 12px;
    border-radius: 12px;
    height: auto;
    width: auto;
  }
}

.diary__card-button:hover {
  opacity: 0.9;
}

.diary__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.button__trash {
  background-image: url('../../../../images/trash.svg');
  background-repeat: no-repeat;
  width: 36px;
  height: 32px;
  cursor: pointer;
  background-size: contain;
}

.diary__card-shared {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.diary__buttons-modal {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__buttons-modal {
    flex-direction: column;
    row-gap: 8px;
  }

  .diary_button {
    border-radius: 20px;
    padding: 14px;
  }

  .diary_button--delete {
    background-color: white;
    color: #0b4a56;
    border: 1px solid rgba(11 74 86 / 40%);
  }
}
