.shepherd-theme-custom.shepherd-element.constructorFillIn {
  top: 30px !important;
}

.shepherd-theme-custom.shepherd-element.constructorQuestionTypes {
  top: 43% !important;
}

.shepherd-theme-custom.shepherd-element.constructorPreview {
  right: 130px !important;
  left: auto !important;
}

.shepherd-theme-custom.shepherd-element.constructorDraft {
  top: 57% !important;
}

.shepherd-theme-custom.shepherd-element.constructorPublish {
  top: 55% !important;
}
