.modal_container {
  width: 60%;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1000;
  border-radius: 20px;
  padding-top: 48px;
  padding-bottom: 65px;
  padding-left: 28px;
  padding-right: 28px;
  position: fixed;
  overflow-y: auto;
  max-height: 70%;
  overflow-y: auto;
  box-shadow: 0px 3px 8px 0px #0000000a;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .modal_container {
    width: calc(100% - 26px);
    box-sizing: border-box;
  }
}
