// screen breakpoints
$mobile-min-width: 320px;
$mobile-max-width: 480px;

//colors
$mobile-titles-color: #0b4a56;
$mobile-error-color: #e01414;
$mobile-alert-color: #e22749;
$basic-background-color: #fff;
$basic-font-color: #417d88;
$additional-font-color: #656565;
$basic-choice-button-color: #d7e4e7;
$basic-placeholder-color: #e5e5e5;
