.headline {
  position: relative;
  height: 501px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.headline__add-an-img {
  color: #417d88;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}

.headline__img-container {
  width: 100%;
  height: 70%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.headline__img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 0 solid #d7e4e7;
  box-shadow: 0 0 3px 1px #d7e4e773;
}

.icon-copy-trash {
  display: flex;
  gap: 15px;
}

.icon-and-button {
  display: flex;
  align-items: center;
  justify-content: end;
}

.headline__browse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;
}

.headline__browse-btn {
  margin: 0;
  margin-bottom: 16px;
}

.headline__drop-img {
  color: grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  margin: 0;
}

.headline__img-input {
  display: none;
}

.headline__img-input-custom {
  width: 100%;
  height: 370px;
  display: inline-block;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.headline__img-input-custom:hover {
  box-shadow: inset 0 0 10px 5px #108ca873;
}

.dragging {
  border: 3 solid #278397;
  box-shadow: inset 0 0 10px 5px #108ca873;
}
