.button__type_back {
  width: 91px;
  height: 41px;
  padding: 0;
  border: 0;
  border: solid #417d88;
  border-radius: 100px;
  margin-top: 22px;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button__type_back {
    border: none;
    width: auto;
    margin-top: 0;
  }
}

.button-back-mobile {
  margin-top: 78px;
  margin-left: 28px;
}

.button__type_back_greenWhite {
  border: none;
  background-color: #417d88;
  color: white;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
}

.button__type_skip {
  color: #417d88;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button__type_skip {
    min-height: 50px;
    min-width: 180px;
    border: 1px solid rgba(11 74 86 / 40%);
    background-color: white;
    color: #1f304f;
    border-radius: 20px;
  }

  .button_done {
    min-height: 50px;
    min-width: 180px;
    border-radius: 20px;
  }
}

.button_done:disabled {
  background-color: #ebf4f1;
  color: rgba(11 74 86 / 40%);
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
}

.button__type_save {
  width: 58px;
  height: 51px;
  padding: 0;
  border: 0;
  margin-top: 17px;
  margin-left: 15px;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button__type_save {
    margin: 0;
  }
}

.assignment__container_button {
  display: flex;
  flex-direction: row;
  place-content: center center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__container_button {
    justify-content: space-between;
    align-items: center;
  }
}

.assignment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: solid 1px rgb(101 101 101 / 50%);
  margin-top: 20px;
  margin-right: 30px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment-header {
    padding-top: 76px;
    border-bottom: none;
    flex-direction: column;
    margin: 0;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.assignment__name {
  padding: 0;
  margin-top: 18px;
  margin-bottom: 0;
  color: #1f304f;
  font-size: 40px;
  letter-spacing: -0.32px;
  line-height: 34px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    color: #1f304f;
    margin-top: 13px;
  }

  .assignment__name--rate {
    padding-top: 25px;
    margin-top: 0;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.assignment__progress {
  width: 115px;
  height: 23px;
  padding-top: 4px;
  border-radius: 100px;
  margin-top: 29px;
  margin-bottom: 0;
  background-color: #1f304f;
  color: #eaf2f3;
  line-height: 17px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__progress {
    display: none;
  }
}

.assignment__image {
  display: block;
  width: 375px;
  height: 206px;
  margin: 20px auto;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__image {
    width: auto;
    max-width: calc(100% - 56px);
    height: auto;
  }
}

.aassignment__paragraph {
  display: block;
  max-width: 931px;
  margin: 0 auto 60px;
  color: #1f304f;
  font-size: 20px;
  font-weight: 600;
}

.assignment__block-header {
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #0b4a56;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.32px;
  line-height: 21px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .aassignment__paragraph {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    padding: 0 28px;
    margin-bottom: 37px;
    width: auto;
  }

  .assignment__block-header {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}

.uncompleted {
  outline: 1px solid #c86b7c; /* Example style */
}

.assignment__block {
  max-width: 935px;
  max-height: fit-content;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, Arial, sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__block {
    margin-right: 28px;
    margin-left: 28px;
    width: auto;
  }
}

.assignments__block-radio {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  padding-left: 10px;
  border: none;
  margin-top: 25px;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignments__block-radio {
    padding: 0;
    margin-top: 12px;
  }
}

.block-radio__input {
  width: 22px;
  height: 22px;
  padding: 0;
  border: 2px solid #d7e4e7;
  border-radius: 50%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .block-radio__input {
    border: 1px solid rgba(11 74 86 / 40%);
  }
}

@media screen and (min-width: 481px) {
  .block-radio__input:checked {
    border: 6px solid #d7e4e7;
    background-color: #1f304f;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .block-radio__input:checked {
    position: relative;
    background-color: transparent;
  }

  .block-radio__input:checked::after {
    position: absolute;
    content: '';
    top: 3.5px;
    left: 3.5px;
    background-color: #0b4a56;
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
}

.block-checkbox__input {
  min-width: 22px;
  height: 22px;
  padding: 0;
  border: 2px solid #d7e4e7;
  border-radius: 4px;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .block-checkbox__input {
    border: 1px solid rgba(11 74 86 / 40%);
  }
}

@media screen and (min-width: 481px) {
  .block-checkbox__input:checked {
    border: 6px solid #d7e4e7;
    background-color: #1f304f;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .block-checkbox__input:checked {
    border: none;
    background-color: #0b4a56;
    position: relative;
  }

  .block-checkbox__input:checked::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.block-radio__label {
  padding-left: 10px;
  color: rgb(101 101 101 / 100%);
  font-size: 16px;
  line-height: 17px;
}

.block-radio__input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
}

.assignment__block-note {
  padding: 0;
  padding-top: 10px;
  padding-left: 12px;
  margin: 0;
  font-size: 12px;
  font-weight: 200;
  line-height: 17px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__block-note {
    padding: 0;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.5px;
  }
}

.header_margin {
  margin-bottom: 5px;
}

.block-radio__rate {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.block-radio__rate-container {
  flex-direction: column;
  padding-bottom: 20px;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

.block-radio__label_rate {
  padding: 0;
  padding-bottom: 3px;
  color: #656565;
  line-height: 17px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .block-radio__label {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #1f304f;
    padding-left: 12px;
  }
}

.block-radio_rate-text {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  color: #656565;
  font-weight: 400;
  line-height: 17px;
}

.block__text {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 15px;
  color: #656565;
  color: rgb(11 74 86 / 100%);
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 21px;
}

.block__image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.assignment__share-box {
  position: relative;
  display: flex;
  width: 500px;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-left: 70px;
}

.assignment__share-button {
  margin-left: 20px;
}

.assignment__share-text {
  margin-right: 20px;
  color: #0b4a56;
  font-size: 22px;
  line-height: 28px;
}

.assignment__share-checkbox_invisible {
  position: absolute;
  top: 25px;
  right: 100px;
  overflow: hidden;
  width: 50px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
}

.visible-checkbox {
  width: 67px;
  height: 38px;
  background-image: url('../../../images/share.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.assignment__share-checkbox_invisible:checked + .visible-checkbox {
  background-image: url('../../../images/shareoff.svg');
}

.assignment__buttons-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 100px;
  row-gap: 60px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__buttons-box {
    flex-direction: column;
    row-gap: 8px;
    margin-top: 24px;
    margin-bottom: 130px;
    padding-left: 28px;
    padding-right: 28px;
    box-sizing: border-box;
    align-items: center;
  }
}

.assignment__button {
  width: 180px;
  height: 70px;
  font-size: 20px;
  font-weight: 700;
  line-height: 17px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__button {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    flex: 1;
  }
}

.rating-container {
  display: flex;
  max-width: 712px;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  padding: 20px 35px 26px;
  margin: 52px auto 26px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
}

.rating_values_container {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .rating-container {
    width: auto;
    gap: 5px;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    box-shadow: none;
  }

  .rating_section {
    width: auto;
    margin-right: 28px;
    margin-left: 28px;
    margin-top: 36px;
    margin-bottom: 19px;
    padding: 21px 11px 15px 11px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  }

  .rating_values_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: #1f304f;
  }
}

.radio-label {
  margin: 5px;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .radio-label {
    margin: 0;
  }
}

.radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.mood-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .mood-number {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: #1f304f;
    margin-bottom: 7px;
  }

  .mood-display {
    border: 1px solid rgba(11 74 86 /40%);
  }
}

.mood-display.active {
  border-color: #0b4a56;
  position: relative;
}

.mood-display.active::after {
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  position: absolute;
  background-color: rgba(31, 48, 79, 0.3);
  border-radius: 50%;
}

.mood-display.emoteActive::after {
  content: '';
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  background-color: rgba(18, 18, 20, 0.3);
  border-radius: 50%;
  /* Закругляем тень */
  z-index: 0;
  /* Позиционируем тень за элементом */
}

.smiley {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}

.smiley.active {
  position: relative;
}

.rateTask__comment-container {
  max-width: 935px;
  min-height: 270px;
  border-radius: 6px;
  padding: 20px;
  margin: 0 auto 0;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  background-color: white;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .rateTask__comment-container {
    margin-right: 28px;
    margin-left: 28px;
    padding: 10px;
  }

  .mood-display.emoteActive::after {
    transform: translate(-50%, 50%);
    background-color: #0b4a56;
  }
}

.rateTask__comment-label {
  font-size: 22px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  color: rgba(11, 74, 86, 1);
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .rateTask__comment-label {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
  }
}

.rateTask__comment-input {
  width: 95%;
  height: 190px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  margin-top: 20px;
  padding: 15px;
  font-size: 17px;
  resize: none;
  cursor: pointer;
}

.rateTask__comment-input:focus-visible,
.rateTask__comment-input:focus {
  outline: none !important;
  border-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .rateTask__comment-input {
    margin-top: 13px;
    width: 100%;
    box-sizing: border-box;
  }
}

.rateTask__comment-input::placeholder {
  font-size: 17px;
  font-family: Montserrat, Arial, sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .rateTask__comment-input::placeholder {
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    color: #e5e5e5;
  }
}

.assignment__share-container {
  display: flex;
  max-width: 446px;
  margin: 0 auto;
}

.assignment__share-label {
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  color: rgba(11, 74, 86, 1);
  justify-content: start;
  gap: 14px;
  margin-top: 52px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__share-label {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 28px;
  }
}

.assignment__share-checkbox {
  width: 67px;
  height: 37px;
}

.assignment__share-checkbox::after {
  width: 30px;
  height: 30px;
}

.assignment__share-checkbox:checked:after {
  transform: translate(2.22em, 0.2em);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .assignment__share-checkbox {
    width: 32px;
    height: 17px;
  }

  .assignment__share-checkbox::after {
    width: 13px;
    height: 13px;
  }

  .assignment__share-checkbox:checked::after {
    transform: translate(16px, 1px);
  }
}
