.button__type_back {
  width: 91px;
  height: 41px;
  padding: 0;
  border: 0;
  border: solid #417d88;
  border-radius: 100px;
  margin-top: 22px;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.button__type_back_greenWhite {
  border: none;
  background-color: #417d88;
  color: white;
}

.button__type_save {
  width: 58px;
  height: 51px;
  padding: 0;
  border: 0;
  margin-top: 17px;
  margin-left: 15px;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.assignment__container_button {
  display: flex;
  flex-direction: row;
  place-content: center center;
}

.assignment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: solid 1px rgb(101 101 101 / 50%);
  margin-top: 20px;
  margin-right: 30px;
}

.assignment__name {
  padding: 0;
  margin-top: 22px;
  margin-bottom: 0;
  color: #1f304f;
  font-size: 40px;
  letter-spacing: -0.32px;
  line-height: 34px;
}

.assignment__progress {
  width: 115px;
  height: 23px;
  padding-top: 4px;
  border-radius: 100px;
  margin-top: 29px;
  margin-bottom: 0;
  background-color: #1f304f;
  color: #eaf2f3;
  line-height: 17px;
  text-align: center;
}

.assignment__image {
  display: block;
  width: 375px;
  height: 206px;
  margin: 20px auto;
}

.aassignment__paragraph {
  display: block;
  max-width: 931px;
  margin: 0 auto 60px;
  color: #1f304f;
  font-size: 20px;
  font-weight: 600;
}

.assignment__block-header {
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #0b4a56;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.32px;
  line-height: 21px;
}

.assignment__block {
  max-width: 935px;
  max-height: 265px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, Arial, sans-serif;
}

.assignments__block-radio {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  padding-left: 10px;
  border: none;
  margin-top: 25px;
  margin-bottom: 20px;
}

.block-radio__input {
  width: 22px;
  height: 22px;
  padding: 0;
  border: 2px solid #d7e4e7;
  border-radius: 50%;
  margin: 0;
  appearance: none;
}

.block-radio__input:checked {
  border: 6px solid #d7e4e7;
  background-color: #1f304f;
}

.block-checkbox__input {
  width: 22px;
  height: 22px;
  padding: 0;
  border: 2px solid #d7e4e7;
  border-radius: 4px;
  margin: 0;
  appearance: none;
}

.block-checkbox__input:checked {
  border: 6px solid #d7e4e7;
  background-color: #1f304f;
}

.block-radio__label {
  padding-left: 10px;
  color: rgb(101 101 101 / 100%);
  font-size: 16px;
  line-height: 17px;
}

.block-radio__input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
}

.assignment__block-note {
  padding: 0;
  padding-top: 10px;
  padding-left: 12px;
  margin: 0;
  font-size: 12px;
  font-weight: 200;
  line-height: 17px;
}

.header_margin {
  margin-bottom: 5px;
}

.block-radio__rate {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.block-radio__rate-container {
  flex-direction: column;
  padding-bottom: 20px;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

.block-radio__label_rate {
  padding: 0;
  padding-bottom: 3px;
  color: #656565;
  line-height: 17px;
  text-align: center;
}

.block-radio_rate-text {
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  color: #656565;
  font-weight: 400;
  line-height: 17px;
}

.block__text {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 15px;
  color: #656565;
  color: rgb(11 74 86 / 100%);
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 21px;
}

.block__image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.assignment__share-box {
  position: relative;
  display: flex;
  width: 500px;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-left: 70px;
}

.assignment__share-button {
  margin-left: 20px;
}

.assignment__share-text {
  margin-right: 20px;
  color: #0b4a56;
  font-size: 22px;
  line-height: 28px;
}

.assignment__share-checkbox_invisible {
  position: absolute;
  top: 25px;
  right: 100px;
  overflow: hidden;
  width: 50px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
}

.visible-checkbox {
  width: 67px;
  height: 38px;
  background-image: url('../../../images/share.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.assignment__share-checkbox_invisible:checked + .visible-checkbox {
  background-image: url('../../../images/shareoff.svg');
}

.assignment__buttons-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 100px;
  row-gap: 60px;
}

.assignment__button {
  width: 180px;
  height: 70px;
  font-size: 20px;
  font-weight: 700;
  line-height: 17px;
}

.rating-container {
  display: flex;
  max-width: 712px;
  align-items: flex-end;
  justify-content: center;
  gap: 35px;
  text-align: center;
  padding: 20px 35px 26px;
  margin: 52px auto 26px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
}

.radio-label {
  margin: 5px;
  position: relative;
}

.radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.mood-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.mood-display.active {
  border-color: #0b4a56;
  position: relative;
}

.mood-display.active::after {
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  position: absolute;
  background-color: rgba(31, 48, 79, 0.3);
  border-radius: 50%;
}

.mood-display.emoteActive::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: -4px;
  left: -6px;
  background-color: rgba(31, 48, 79, 0.3);
  border-radius: 50%; /* Закругляем тень */
  z-index: 0; /* Позиционируем тень за элементом */
}

.smiley {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.smiley.active {
  position: relative;
}

.rateTask__comment-container {
  max-width: 935px;
  min-height: 270px;
  border-radius: 6px;
  padding: 20px;
  margin: 0 auto 0;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  background-color: white;
  box-sizing: border-box;
}
.rateTask__comment-label {
  font-size: 22px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  color: rgba(11, 74, 86, 1);
  cursor: pointer;
}
.rateTask__comment-input {
  width: 95%;
  height: 190px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  margin-top: 20px;
  padding: 15px;
  font-size: 17px;
  resize: none;
  cursor: pointer;
}
.rateTask__comment-input::placeholder {
  font-size: 17px;
}
