.diaryPage {
  display: flex;
  flex-direction: column;
  padding: 58px 47px 100px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diaryPage {
    padding: 0 0 82px;
  }
}

.diary__block-event {
  margin-top: 26px;
  display: flex;
  width: 100%;
  max-width: 1050px;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 1px #d7e4e773;
  padding: 16px 20px 16px 20px;
  transition: all ease-in-out 0.3s;
}

.diary__block-event:hover {
  box-shadow: 0px 0px 3px 1px #01495973;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__block-event {
    margin-top: 20px;
    padding: 10px;
    gap: 8px;
    margin-right: 28px;
    margin-left: 28px;
    width: auto;
  }

  .diary__block-event:hover {
    box-shadow: 0px 0px 3px 1px #d7e4e773;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__block-event {
    margin-top: 20px;
    padding: 10px;
    gap: 8px;
    margin-right: 28px;
    margin-left: 28px;
    width: auto;
  }

  .diary__block-event:hover {
    box-shadow: 0px 0px 3px 1px #d7e4e773;
  }
}

.diary__block-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: #0b4a56;
  line-height: 19px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__block-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__block-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
  }
}

.diary__block-question {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #0b4a56;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__block-question {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__block-question {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }
}

.diary__block-text {
  font-family: "Montserrat";
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #656565;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__block-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__block-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }
}

.diary__block-description {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
}

.diary__block-text-sensation {
  color: #656565;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 17px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.diary__emotions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.diary__emotions-wrapper {
  display: flex;
  justify-content: center;
}

.diary__emotion-title {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 600;
  line-height: 17px;
  color: #2c3742;
}

.diary__emotion-container {
  padding: 12px 20px 12px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
  border-radius: 8px;
  border: 2px solid transparent;
}

.diary__emotion-container-active {
  border: 2px solid #1f304f;
  transition: all ease-in-out 0.3s;
  border-radius: 8px;
}

.diary__emotion-container-active:hover {
  opacity: 0.8;
  transition: all ease-in-out 0.3s;
}

.diary__emotions-all {
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.diary__emotion-chip {
  box-sizing: border-box;
  height: 37px;
  padding: 10px 12px 10px 12px;
  border-radius: 10px;
  border: 1px solid #b2b0ab;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 17px;
  background-color: #fffcf5;
  color: #2c3742;
  border: 2px solid transparent;
}

.diary__emotion-chip:hover {
  transition: all ease-in-out 0.5s;
  background-color: #f9db8e;
}

.chip_active {
  font-weight: 700;
  background-color: #fff5de;
  border: 2px solid #2c3742;
}

.success-message {
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  animation:
    slide-in 0.5s ease forwards,
    fade-out 0.5s 1.5s forwards;
  background-color: #d4edda;
  color: #155724;
}

.error-message {
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  animation:
    slide-in 0.5s ease forwards,
    fade-out 0.5s 1.5s forwards;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__emotions-list--mobile,
  .diary__emotions-names-list--mobile {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .diary__emotions-wrapper--mobile {
    width: auto;
    margin: 2px;
  }

  .diary__emotions-mobile-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .diary__emotion-container--mobile {
    align-items: center;
    display: flex;
  }

  .diary__emotion-container--mobile img {
    width: 34px;
    margin-right: 14px;
  }

  .diary__emotions-names-list--mobile {
    display: flex;
    gap: 6px;
    margin: 10px 28px;
    flex-wrap: wrap;
  }

  .diary__emotion-name-container--mobile {
    padding: 10px 12px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
  }

  .diary__emotion-name--mobile {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #0b4a56;
  }

  .diary__empty-emotion {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }

  .diary__empty-emotion--link {
    padding: 12px 10px;
    background-color: #0b4a56;
    color: rgba(255 255 255 / 85%);
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
  }

  .diary__empty-emotion--list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 6px;
  }

  .diary__empty-emotion--item {
    width: 34px;
    opacity: 70%;
  }
}
