:root {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
   
  h1.tittle-headline {
    font-weight: 500;
    font-size: 24px;
    line-height: 17px;
    color: #417D88;
    margin: 23px 0 0 15px;
  }
  
  .add-an-img {
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    color: #417D88;
    text-align: center;
    margin-top: 32px;
  }
  
  h3.drop-img{
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: grey;
   }
  
  .img-container {
    position: relative;
    text-align: center; 
    margin: 63px auto; 
    max-width: 400px; 
  }
  
  .img-container img {
    max-width: 100px; 
    height: auto; 
    position: absolute;
    top: -60px;
    left: 33%;  
    border: 0 solid #D7E4E7;
    box-shadow: 0px 0px 3px 1px #D7E4E773;
    margin: 5px;
    padding: 0 8px;
   }
  
  .icon-copy-trash{
    display: flex;
    gap: 15px;
      }  

    .icon-and-button{
      display: flex;
      justify-content: end;
      align-items: center;
     
    }