.headerAssignment {
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 88px;
  align-items: center;
}

.header__icon-back {
  width: 44px;
  height: 29px;
  margin: 0;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.header__icon-back:hover {
  opacity: 0.7;
}

.header__icon-save {
  margin: 0;
  width: 36px;
  height: 34px;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  border-radius: 0;
}

.header__icon-save:hover {
  opacity: 0.7;
}

.header__icon-save-disabled {
  margin: 0;
  width: 36px;
  height: 34px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.3 ease-in-out;
  object-fit: contain;
  border-radius: 0;
}

.header__icon-eye {
  margin: 0;
  width: 46px;
  height: 31px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.header__icon-eye:hover {
  opacity: 0.7;
}

.error__text {
  text-align: left;
  color: red;
  font-size: 12px;
}
