@import "../../../scss-styles/mixins.scss";

.headerAssignment {
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & h1 {
    margin: 0;
    padding: 0;
    line-height: 32px;
  }
}

.header__view {
  color: rgba(65, 125, 136, 1);
  overflow-wrap: anywhere;
  font-size: 36px;
  margin: 0;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  height: 100%;

  & button {
    background: none;
    border: none;
  }
  
}

@media screen and (min-width: 480px) and (max-width: 600px) {
  .header__buttons {
    gap: 20px;
  }
}

@include mobile() {
  .header__buttons {
    gap: 10px;
  }
}

.header__icon-back {
  width: 44px;
  height: fit-content;
  margin: 0;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.header__icon-back:hover {
  opacity: 0.7;
}

.header__icon-save {
  margin: 0;
  width: 40px;
  height: 36px;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  border-radius: 0;

  &:hover {
    opacity: 0.7;
  }
}

.header__icon-save-disabled {
  margin: 0;
  width: 40px;
  height: 36px;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.3 ease-in-out;
  object-fit: contain;
  border-radius: 0;
}

.header__icon-eye {
  margin: 0;
  width: 40px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3 ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.header__icon-eye-disabled {
  margin: 0;
  width: 40px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  opacity: 0.3;
}

.error__text {
  width: fit-content;
  text-align: left;
  color: red;
  font-size: 16px;
}

.error__text_header {
  text-align: right;
  background: rgba(255, 0, 0, 0.1);
  margin-left: auto;
  visibility: hidden;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 1px 12px;
}

.error__text_footer {
  text-align: left;
  visibility: hidden;
  margin-bottom: 25px;
}

.error__text_span {
  visibility: visible;
}

.error__text_block {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}

.error__text_login {
  min-height: 80px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 338px;
  text-align: center;
  gap: 5px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  padding: 5px 0;
}
