.add-client-form-container {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.add-client-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.add-client-form h2 {
  margin-bottom: 20px;
  color: #417d88;
  text-align: center;
}

.add-client-form input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
}

.add-client-form button {
  position: relative;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #417d88;
  color: white;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.success-message,
.error-message {
  padding: 10px;
  border-radius: 4px;
  margin: 0 0 10px;
  text-align: center;
}

.success-message {
  border: 1px solid #c3e6cb;
  background-color: #d4edda;
  color: #155724;
}

.error-message {
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
}

#back {
  position: absolute;
  top: 20px;
  left: 270px;
}
