body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

button {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.app-container {
  position: relative;
  display: flex;
  flex: 1;
}

.content {
  width: 100vw;
  min-height: 100vh;
  margin-left: 255px;
  flex: 1;
  background-color: rgb(225 244 248 / 17%);
  background-image: url('https://i122.fastpic.org/big/2023/1025/d2/e4e7924e98bda72edc75d27bf95bcad2.png');
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile h3 {
  color: #656565;
}

.user-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.side-bar {
  position: fixed;
  height: 100vh;
  z-index: 100;
  width: 255px;
}

.menu ul {
  padding: 0;
  list-style: none; /* Remove bullet points */
}

.menu ul li {
  width: 210px;
}

.menu ul li a {
  display: block;
  padding: 8px 12px;
  margin-left: 45px;
  color: #656565; /* Text color for menu links */
  line-height: 28px;
  text-align: flex-end; /* Add spacing above and below each menu item */
  text-decoration: none; /* Remove underlines from menu links */
}

.menu ul li a.active {
  border-radius: 4px;
  background: #fff;
  box-shadow:
    0 0 3px 1px rgb(215 228 231 / 60%),
    -4px 0 0 #417d88;
}

#logout {
  display: block;
  padding: 8px 12px;
  border: none;
  margin-left: 45px;
  background: transparent;
  color: #656565; /* Цвет текста */
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
  text-align: flex-end;
}

input:focus,
select:focus {
  box-shadow: 0 0 2px #666;
  outline: none;
}

/* _____AFTER REGISTRATION PAGE______ */
.welcome-container {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: rgb(225 244 248 / 17%);
  background-image: url('https://i122.fastpic.org/big/2023/1025/d2/e4e7924e98bda72edc75d27bf95bcad2.png');
  background-position: center;
  background-size: cover;
}

.welcome-content {
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  text-align: center;
}

.welcome-content h2 {
  margin-bottom: 20px;
  color: #417d88;
  font-size: 2.2em;
}

.welcome-content p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
