.assignments-page {
  padding: 35px;
  color: #656565;
}

.assignments-page header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.assignments-page h1 {
  font-size: 36px;
}

.assignments-page .tabs button {
  width: 33%;
}

.search-bar {
  margin-bottom: 10px;
}

.filter-dropdowns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* space below the filters */
}

.block-buttons-container {
  display: flex;
  width: max-content; /* Ширина блока по содержимому */
  align-items: center;
  align-self: center;
  justify-content: center; /* Центрируем блок кнопок */
  padding: 10px 20px; /* Вертикальный и горизонтальный отступ */
  border-radius: 6px; /* Скругление углов */
  margin-top: 20px;
  background-color: #fff; /* Фоновый цвет */
  box-shadow: 0 0 3px 1px #d7e4e773; /* Тень блока */
}

.filter-dropdowns select {
  width: 18%;
  padding: 8px;
  border: 1px solid #d0d1d6; /* border color */
  border-radius: 10px;
  font-size: 14px;
}

.assignment-grid {
  display: grid;
  max-width: 870px;
  margin-bottom: 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

/* ADD ASSIGNMENTS CSS PART */
.add-assignment-body {
  display: flex;
  flex-direction: column;
}

.form-title {
  width: 100%;
}

.title-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 3px 1px rgb(215 228 231 / 60%);
  color: #417d88;
  font-size: 24px;
}

.title-input:last-child {
  border-radius: 0 0 6px 6px;
  border-top: none;
  margin-bottom: 10px;
  font-size: 16px;
}

.title-input:first-child::placeholder {
  color: #417d88;
  font-size: 24px;
}

.title-input:focus {
  box-shadow: 0 0 3px 1px rgb(215 228 231 / 60%);
  outline: none;
}

.form-settings {
  display: flex;
  margin: 10px 0;
  gap: 10px; /* Расстояние между элементами */
}

.form-setting {
  display: flex;
  flex: 0.25 0.5;
  flex-direction: column;
}

.tags-setting {
  flex-grow: 1; /* Заставляем теги занимать все оставшееся пространство */
}

.form-setting label {
  margin-bottom: 5px;
}

.form-setting select,
.form-setting input[type='text'] {
  padding: 5px 10px;
  border: 1px solid #d7e4e7;
  border-radius: 4px;
  box-shadow: 0 0 3px 1px rgb(215 228 231 / 60%);
}

.form-setting > :last-child {
  margin-left: 0;
}

.block-buttons {
  display: flex;
  gap: 10px; /* Расстояние между кнопками */
}

.block-buttons button {
  padding: 10px 15px; /* Паддинги для кнопок */
  border: none;
  border-radius: 4px; /* Скругление углов кнопок */
  cursor: pointer;
  transition: background-color 0.3s; /* Плавность перехода цвета */
}

.success-message {
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  animation:
    slide-in 0.5s ease forwards,
    fade-out 0.5s 1.5s forwards;
  background-color: #d4edda;
  color: #155724;
}

.material-symbols-outlined {
  color: #656565;
}

.nothing-to-show {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  font-size: 28px;
  grid-column: 1 / -1; /* Занимает все колонки сетки */
  text-align: center;
}

.assignment-details {
  font-size: 18px;
}

.assignment-details strong {
  color: #417d88;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* VIEW ASSIGNMENTS */

/* VIEW ASSIGNMENTS */

/* VIEW ASSIGNMENTS */

/* VIEW ASSIGNMENTS */

.assignment-image {
  width: 180px;
  border-radius: 10px;
}

.buttons-save-as-draft-and-publish-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
  width: 100%;
}

.buttons-save-as-draft-and-publish {
  border: none;
  width: 226px;
  height: 59px;
  flex-grow: 0;
  border-radius: 100px;
  box-shadow: 0 0 3px 1px rgba(215, 228, 231, 0.45);
  background-color: #417d88;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
