/* assignmentTile.css */

.assignment-tile {
  position: relative;
  display: flex; /* Обрезка контента по границам */
  width: 290px;
  flex-direction: column;
  border-radius: 10px; /* Скругленные углы */
  background-color: #fff; /* Белый фон */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Тень */
  padding: 10px;
  box-sizing: border-box;
}

.assignment-tile_selected {
  border: 1.5px solid rgba(65, 125, 136, 1);
}

.assignment-image-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.assignment-image-container_client {
  cursor: default;
}

.assignment-tile .assignment-image-container img {
  width: 270px;
  height: 146px;
  align-self: center;
  border-radius: 6px;
  object-fit: cover;
}

.assignment__dropdown-btn {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 30px;
  border: none;
  background: url(../images/three-dots.svg) no-repeat;
  background-position: center;
  padding: 0;
}

.assignment__dropdown {
  position: absolute;
  left: 30px;
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 0 3px 1px rgba(215, 228, 231, 0.45);
  background-color: white;
  z-index: 100;
}

.assignment__dropdown button {
  height: 35px;
  padding: 5px;
  border-radius: 6px;
}

.dropdown-separate-line {
  width: 100%;
  border: 1px solid #e5e5e5;
  margin: 0;
}

.assignment-info {
  margin-top: 10px;
  font-size: 16px;
}

.assignment-info h3 {
  margin: 0;
  color: rgba(101, 101, 101, 1);
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.assignment-info p {
  margin: 5px 0 15px; /* Отступы */
  color: rgba(183, 183, 183, 1);
}

.assignment-actions {
  display: flex;
  align-items: center;
  gap: 20px; /* Распределение пространства */
  font-size: 16px;
  line-height: 17px;
  height: 35px;
  box-sizing: border-box;
  color: rgba(183, 183, 183, 1);
}

.assignment-actions__statistics {
  display: flex;
  align-items: center;
  gap: 10px;
}

.assignment-actions__statistics_grades::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../images/star.svg);
  background-size: contain; /* Масштабируем изображение так, чтобы оно полностью помещалось в элемент */
  background-repeat: no-repeat; /* Предотвращаем повторение изображения */
  background-position: center; /* Центрируем изображение внутри элемента */
}

.assignment-actions__statistics_shares::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../images/repeat.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.assignment-actions__share-with-client {
  width: 35px;
  height: 25px;
  border: none;
  background: url(../images/shareArrow.svg) no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
}

.assignment-actions__share-with-client_recall {
  transform: scaleX(-1);
  margin: 0;
}

.favorite-button {
  width: 20px;
  height: 100%;
  border: none;
  background: url(../images/fav.svg) no-repeat;
  background-size: contain;
  background-position: center;
  color: #fff;
  cursor: pointer;
}

.favorite-button_selected {
  background: url(../images/fav_selected.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.favorite-button_dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 11px;
  background: none;
  color: #656565;
}

.favorite-button_dropdown:hover {
  color: white;
  background: rgba(65, 125, 136, 1);
}

.favorite-button_dropdown::before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 100%;
  background: url(../images/fav_gray.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.favorite-button_dropdown:hover::before {
  background: url(../images/fav_white.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.favorite-button_dropdown_selected::before {
  background: url(../images/fav_selected.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.favorite-button_dropdown_selected:hover::before {
  background: url(../images/fav_selected_white.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.assignment__dropdown-copy-btn {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 11px;
  border: none;
  background: none;
  color: #656565;
  cursor: pointer;
}

.assignment__dropdown-copy-btn:hover {
  color: white;
  background: rgba(65, 125, 136, 1);
}

.assignment__dropdown-copy-btn::before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 100%;
  background: url(../images/copy.svg) no-repeat;
  background-position: center;
}

.assignment__dropdown-copy-btn:hover::before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 100%;
  background: url(../images/copy_white.svg) no-repeat;
  background-position: center;
}

.assignment__dropdown-delete-btn {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 11px;
  border: none;
  background: none;
  color: #656565;
  cursor: pointer;
}

.assignment__dropdown-delete-btn:hover {
  color: white;
  background: rgba(65, 125, 136, 1);
}

.assignment__dropdown-delete-btn::before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 100%;
  background: url(../images/trash.svg) no-repeat;
  background-position: center;
}

.assignment__dropdown-delete-btn:hover::before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 100%;
  background: url(../images/trash_white.svg) no-repeat;
  background-position: center;
}

/* Для даты и типа задания в верхнем углу */
.date-and-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0; /* Отступы */
  border-radius: 20px; /* Закругленный фон */
  color: #b7b7b7;
}

.type {
  text-transform: capitalize;
  max-width: 100px;
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
  padding: 5px 12px; /* Отступы */
  border: solid 2px #417d88;
  border-radius: 100px;
  margin-left: 5px; /* Отступ справа */
  background-color: #fff; /* Зеленый фон */
  color: #656565;
  font-size: 16px;
  line-height: 17px;
}

.status {
  padding: 5px 12px;
  border-radius: 20px;
}

.status.to-do {
  background-color: #f7cfa4;
  color: #fff;
}

.status.done {
  background-color: rgba(65, 126, 136, 1);
  color: #fff;
}

.status.in-progress {
  background-color: rgba(31, 48, 79, 1);
  color: #fff;
}

.delete-button {
  position: absolute;
  z-index: 2;
  bottom: -50px; /* Initially positioned outside the tile */
  left: 0;
  width: 100%; /* Button width should match the tile width */
  padding: 10px 0;
  border: none;
  animation: slide-up 0.3s;
  background-color: #ff4136; /* Red background for deletion */
  color: white;
  cursor: pointer;
  text-align: center;
}

.assignment-tile:hover .delete-button {
  animation: slide-up 0.3s forwards ease;
}

@keyframes slide-up {
  from {
    bottom: -50px;
  }

  to {
    bottom: 0;
  }
}

.assignment__edit-btn {
  width: 20px;
  height: 20px;
  border: none;
  background: url(../images/assignment-edit_green.svg) no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: auto;
  cursor: pointer;
}

.assignment__delete-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: url(../images/trash_green.svg) no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.assignment__review-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: url(../images/message-check.svg) no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
}

.assignment__review-btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.assignment__view-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: url(../images/assignment-page/eye.svg) no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

/* Блок: Контейнер списка */
.share-assignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 564px;
  padding: 10px;
  position: relative;
}

.share-assignment_clientDetailsPage {
  width: 90vw;
  height: 70vh;
}

.share-assignment__content-container {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
}

.share-assignment__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: center;
  width: 283px;
  max-height: 250px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
}

/* Элемент: Заголовок списка */
.share-assignment__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

/* Элемент: Элемент списка (клиент) */
.share-assignment__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Элемент: Чекбокс */
.share-assignment__checkbox {
  width: 30px;
  height: 30px;
  margin-right: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(101, 101, 101, 1);
  border-radius: 50%;
  position: relative;
}

.share-assignment__checkbox:hover {
  border: 2px solid rgba(101, 101, 101, 1);
}

.share-assignment__checkbox::after {
  content: "✓"; /* Unicode символ галочки */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%; /* Размер смайлика */
  color: rgba(101, 101, 101, 1); /* Цвет смайлика */
  opacity: 0;
}

.share-assignment__checkbox:checked::after {
  opacity: 1;
}

.share-assignment__checkbox-label {
  font-size: 16px;
  line-height: 17px;
  cursor: pointer;
}

.share-assignment__checkbox-label:hover {
  font-weight: 800;
}

/* Стили для ссылки на верх списка */
.share-assignment__list-wrapper::-webkit-scrollbar {
  width: 20px;
}

.share-assignment__list-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.share-assignment__list-wrapper::-webkit-scrollbar-thumb {
  background: rgba(65, 125, 136, 1);
  border-radius: 10px;
}

.share-assignment__list-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(65, 125, 136, 1);
}

.share-assignment__close-button {
  position: absolute;
  display: flex;
  top: 0px;
  right: 0px;
  width: 23px;
  height: 23px;
  border: 2px solid rgba(65, 125, 136, 1); /* Зеленый бордер */
  border-radius: 30%; /* Скругленные углы */
  background-color: transparent;
  color: rgba(65, 125, 136, 1); /* Зеленый крестик */
  font-size: 100%;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.share-assignment__close-button:hover {
  background-color: rgba(65, 125, 136, 1); /* Зеленый фон при наведении */
  color: white; /* Белый крестик при наведении */
}
