@import "../scss-styles/mixins.scss";
@import "../scss-styles/variables.scss";

.assignments-page {
  padding: 70px 65px 20px 25px;
  color: $additional-font-color;

  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & .tabs button {
    width: 33%;
  }
}

@include mobile() {
  .assignments-page {
    padding: 50px 28px;

    &__buttonWrapper {
      position: fixed;
      bottom: 45px;
      width: 304px;
      height: 46px;
      display: flex;
      flex-direction: row;
      gap: 30px;
      z-index: 1000;
      justify-content: center;
    }

    & header {
      margin: 0;
    }
    & h1 {
      margin: 0;
      margin-top: 26px;
      margin-bottom: 5px;
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
    }
    & .tabs {
      display: flex;
      width: 100%;

      & button {
        flex-grow: 1;
        width: auto;
      }
    }
  }
}

.assignments-page-header-block {
  margin-bottom: 45px;

  & h1 {
    margin: 0px;
    font-size: 36px;
    font-weight: 500;
    color: rgba(65, 125, 136, 1);
    overflow-wrap: anywhere;
    line-height: 32px;
  }
  & div {
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 25px;

    & button {
      background: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
      & img {
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0;
        object-fit: contain;
        height: fit-content;
      }
    }
  }
}

.search-bar {
  margin-bottom: 10px;
}

.filter-dropdowns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* space below the filters */

  & select {
    width: 18%;
    padding: 8px;
    border: 1px solid #d0d1d6;
    /* border color */
    border-radius: 10px;
    font-size: 14px;
  }
}

.block-buttons-container {
  display: flex;
  width: max-content;
  /* Ширина блока по содержимому */
  align-items: center;
  align-self: center;
  justify-content: center;
  /* Центрируем блок кнопок */
  padding: 15px;
  /* Вертикальный и горизонтальный отступ */
  border-radius: 6px;
  /* Скругление углов */
  margin-top: 20px;
  background-color: $basic-background-color;
  /* Фоновый цвет */
  box-shadow: 0 0 3px 1px #d7e4e773;
  /* Тень блока */
  margin-bottom: 15px;
}

.assignment-grid {
  display: grid;
  width: 100%;
  margin-bottom: 20px;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
}

@media screen and (min-width: 480px) and (max-width: 1280px) {
  .assignment-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@include mobile() {
  .assignment-grid {
    margin: 0;
    margin-top: 25px;
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

/* ADD ASSIGNMENTS CSS PART */
.add-assignment-body {
  display: flex;
  flex-direction: column;
}

.view__img {
  display: block;
  max-width: 375px;
  width: 100%;
  height: 206px;
  margin: 20px auto 45px;
  object-fit: cover;
}

.view__description {
  color: rgba(65, 125, 136, 1);
  font-size: 20px;
  white-space: pre-line;
  line-height: 21px;
  margin-bottom: 37px;
}

.form-title {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 18px 8px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  color: $additional-font-color;
  font-size: 20px;
  background-color: $basic-background-color;
  margin-bottom: 20px;

  & label {
    display: block;
    color: $additional-font-color;
    margin-bottom: 15px;
  }
  & textarea {
    font-weight: 500;
    resize: none;
    scrollbar-width: none;
    line-height: 21px;
  }
}

.title-span {
  color: #ff0000;
  font-size: 16px;
  margin-top: 0px;
  visibility: hidden;
}

.title-input {
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  border-radius: 6px 6px;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  font-size: 20px;
  color: $basic-font-color;
  background-color: $basic-background-color;
  font-weight: 700;

  &::placeholder {
    font-weight: 500;
    color: $basic-placeholder-color;
  }
  &:focus {
    box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
    outline: none;
  }
}

.form-settings {
  display: flex;
  gap: 20px;
  /* Расстояние между элементами */
}

.form-setting {
  display: flex;
  flex: 0.25 0.5;
  flex-direction: column;
  max-width: 170px;

  & label {
    margin-bottom: 5px;
  }

  & select,
  & input[type="text"] {
    padding: 5px 10px;
    border: 1px solid $basic-choice-button-color;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  }
  & select:invalid {
    color: $basic-placeholder-color;

    & option {
      color: $additional-font-color;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .form-setting {
    flex: 0.5;
  }
}

.tags-setting {
  flex-grow: 1;
  /* Заставляем теги занимать все оставшееся пространство */
}

.form-setting > :last-child {
  margin-left: 0;
}

.block-buttons {
  display: flex;
  gap: 5px;
  /* Расстояние между кнопками */

  & button {
    /* Паддинги для кнопок */
    border: none;
    border-radius: 4px;
    /* Скругление углов кнопок */
    cursor: pointer;
    transition: background-color 0.3s;
    /* Плавность перехода цвета */
    background-color: $basic-background-color;
  }
}

.material-symbols-outlined {
  color: $additional-font-color;
}

.nothing-to-show {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: $basic-background-color;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  font-size: 28px;
  grid-column: 1 / -1;
  /* Занимает все колонки сетки */
  text-align: center;
}

.assignment-details {
  font-size: 16px;
}

.assignment-view-body {
  margin-bottom: 100px;
}
@include mobile() {
  .assignment-view-body {
    margin-bottom: 60px;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* VIEW ASSIGNMENTS */

/* VIEW ASSIGNMENTS */

/* VIEW ASSIGNMENTS */

/* VIEW ASSIGNMENTS */

.assignment-image {
  width: 180px;
  border-radius: 10px;
}

.buttons-save-as-draft-and-publish-container {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

.buttons-save-as-draft-and-publish {
  border: none;
  width: 164px;
  height: 40px;
  flex-grow: 0;
  border-radius: 100px;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  background-color: $basic-font-color;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: center;
  color: $basic-background-color;
  cursor: pointer;

  &:last-child {
    font-size: 14px;
  }

  &:disabled {
    background-color: rgba(65, 125, 136, 0.3);
    cursor: default;
  }
}

.answer-input {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  padding: 15px;
  font-size: 17px;
  resize: none;
  cursor: pointer;

  &::placeholder {
    font-size: 17px;
    font-family: Montserrat, Arial, sans-serif;
  }
}

@include mobile() {
  .answer-input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 13px;

    &::placeholder {
      font-size: 15px;
      font-weight: 500;
      line-height: 17px;
      color: $basic-placeholder-color;
    }
  }
}

.form-creator {
  width: 100%;
}

.error {
  border: 1px red solid !important;
}

.error-text {
  color: red;
}

.errorCheckboxRadio {
  outline: 1px red solid;
}
