/* assignmentTile.css */

.assignment-tile {
  position: relative;
  display: flex; /* Обрезка контента по границам */
  overflow: hidden;
  width: 280px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px; /* Скругленные углы */
  background-color: #fff; /* Белый фон */
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%); /* Тень */
}

.assignment-image-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.assignment-tile .assignment-image-container img {
  display: block;
  width: 200px;
  height: 200px;
  align-self: center;
  border-radius: 6px;
}

.assignment-info {
  padding: 10px;
  text-align: center;
}

.assignment-info h3 {
  margin: 0;
  color: #656565; /* Темно-серый текст */
}

.assignment-info p {
  margin: 5px 0 15px; /* Отступы */
  color: #777; /* Серый текст */
  font-size: 14px; /* Размер шрифта подзаголовка */
}

.assignment-actions {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Распределение пространства */
  padding: 10px;
  background-color: #f8f8f8; /* Светло-серый фон */
}

.assignment-actions .popularity {
  display: flex;
  align-items: center;
}

.assignment-actions .popularity::before {
  margin-right: 5px;
  content: '👁‍🗨'; /* Эмодзи глаза */
}

.favorite-button {
  padding: 2px 10px;
  border: 2px solid #417d88;
  border-radius: 100px;
  background: none;
  color: #417d88; /* Цвет сердца */
  cursor: pointer;
  font-size: 20px;
}

.favorite-button.selected {
  background-color: #417d88;
  color: #fff;
}

/* Для даты и типа задания в верхнем углу */
.date-and-type {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px; /* Отступы */
  border-radius: 20px; /* Закругленный фон */
  color: #b7b7b7;
}

.type {
  padding: 5px 10px; /* Отступы */
  border: solid 3px #417d88;
  border-radius: 100px;
  margin-left: 5px; /* Отступ справа */
  background-color: #fff; /* Зеленый фон */
  color: #656565;
  line-height: 17px;
}

.status {
  padding: 10px 15px;
  border-radius: 20px;
}

.status.to-do {
  background-color: #f7cfa4;
  color: #fff;
}

.delete-button {
  position: absolute;
  z-index: 2;
  bottom: -50px; /* Initially positioned outside the tile */
  left: 0;
  width: 100%; /* Button width should match the tile width */
  padding: 10px 0;
  border: none;
  animation: slide-up 0.3s;
  background-color: #ff4136; /* Red background for deletion */
  color: white;
  cursor: pointer;
  text-align: center;
}

.assignment-tile:hover .delete-button {
  animation: slide-up 0.3s forwards ease;
}

@keyframes slide-up {
  from {
    bottom: -50px;
  }

  to {
    bottom: 0;
  }
}
