.editorContainer {
  min-height: 100px; /* минимальная высота */
  padding: 10px; /* отступы внутри, как у textarea */
  border: 1px solid #ddd; /* граница, как у textarea */
  border-radius: 4px; /* скругление углов, если необходимо */
  margin-top: 5px; /* отступ сверху, если необходимо */
  background-color: #fff;
  cursor: text;
}

.editorContainer .DraftEditor-root {
  min-height: 100px; /* минимальная высота */
}
