.editor-container {
  width: 100%;
  min-height: 100px; /* минимальная высота */
  padding: 10px; /* отступы внутри, как у textarea */
  border: 1px solid #ddd; /* граница, как у textarea */
  border-radius: 4px; /* скругление углов, если необходимо */
  margin-top: 5px; /* отступ сверху, если необходимо */
  background-color: #fff;
  cursor: text;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
  border-radius: 6px;
  box-sizing: border-box;
}

.editor-container .DraftEditor-root {
  min-height: 100px; /* минимальная высота */
  color: #0b4a56;
}

.editor-container .public-DraftEditorPlaceholder-root {
  color: #e5e5e5;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .editor-container {
    border: none;
  }
}
