.image-selector {
  padding: 10px 15px 0px;
  border-radius: 8px;
  margin-bottom: 15px; /* Добавьте отступ, если необходимо отделить от других элементов */
  background-color: #fff;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
}

.image-selector label {
  display: block;
  margin-bottom: 15px;
  color: #656565;
  font-weight: 400;
  font-size: 20px;
}

.image-selector form {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .image-selector form {
    flex-direction: column;
    gap: 15px;
  }
}

.image-selector input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
  font-family: inherit;
  font-size: 20px;
  color: #656565;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.45);
}

.image-selector input[type="text"]::placeholder {
  color: #e5e5e5;
  font-size: 16px;
}

.image-selector button {
  padding: 10px 55px;
  border: none;
  border-radius: 100px;
  background-color: #417d88;
  color: white;
  cursor: pointer;
}

.image-results {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px; /* Добавить отступ снизу */
  gap: 10px;
  overflow-x: auto;
}

.image-item {
  flex: 0 0 auto;
  border: 3px solid transparent; /* Изначально граница прозрачная */
  cursor: pointer;
  transition: all 0.3s; /* Плавный переход всех свойств */
}

.image-item img {
  display: block;
  max-width: 100%; /* Максимальная ширина 100% от родительского элемента */
  max-height: 100px; /* Максимальная высота изображения */
  border-radius: 4px; /* Слегка закруглённые углы */
  object-fit: cover; /* Обрезка изображения по контейнеру */
}

.image-item.selected {
  border-color: #3f7983; /* Цвет границы для выбранного элемента */
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(63 121 131 / 50%); /* Добавить тень для акцента */
}
