.add-note-container {
  padding: 10px 15px;
}

.add-note-container h2 {
  color: #656565;
  font-size: 32px;
  font-weight: 500;
}

.add-note-container input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 3px 1px rgb(215 228 231 / 90%);
  color: #656565;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}
