.registration-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(225 244 248 / 35%);
  background-image: url('https://i122.fastpic.org/big/2023/1025/d2/e4e7924e98bda72edc75d27bf95bcad2.png');
}

.registration-form img {
  margin-bottom: 15px;
}

.registration-form {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-fields input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0 0 3px 1px #d7e4e773;
}

.input-fields.login input,
.password-field input {
  width: calc(100% - 20px); /* Adjust width to account for padding */
}

/* Align button inside password field */
.password-field {
  position: relative; /* Position the field relatively */
  display: flex;
  align-items: center;
}

.password-field input {
  flex-grow: 1;
  padding-right: 40px; /* Padding to prevent text overlapping with the button */
}

.password-field button {
  position: absolute;
  right: 15px;
  height: calc(100% - 30px);
  padding: 0;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
  cursor: pointer;
}

.registration-form input:focus {
  box-shadow: 0 0 3px #666;
}

.registration-form label {
  display: flex;
  align-items: center; /* Выровняйте checkbox и текст по вертикали */
  font-size: 12px;
}

.registration-form h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.registration-form button:hover {
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: 600;
  text-align: center;
}

.form-buttons {
  display: flex;
}

input[type='checkbox'],
input[type='checkbox']:focus {
  margin: 0;
  box-shadow: none;
}

@media (width <= 600px) {
  .registration-form {
    width: 80%; /* Adjust for smaller screens */
  }

  .input-fields.login input,
  .password-field input {
    width: 100%; /* Full width on small screens */
  }
}
