.registration-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(225 244 248 / 35%);
  background-image: url("https://i122.fastpic.org/big/2023/1025/d2/e4e7924e98bda72edc75d27bf95bcad2.png");
}

.registration-form img {
  object-fit: cover;
}

.terms {
  margin: 0;
}

.error-text {
  font-size: 12px;
  color: #f00;
  margin: 0;
}
.error-container-text {
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.registration-logo {
  margin-bottom: 22px;
}

.login-logo {
  margin-bottom: 90px;
}

.reset-logo {
  margin-bottom: 47px;
}

.registration-form {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 338px;
  max-width: 100%;
}

.input-fields input {
  border: 1px solid rgba(101, 101, 101, 0.7);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px 1px #d7e4e773;
}

input[type="checkbox"] {
  margin: 0;
}

.input-fields.login input,
.password-field input {
  max-width: calc(100% - 20px);
  /* Adjust width to account for padding */
}

/* Align button inside password field */
.password-field {
  position: relative;
  /* Position the field relatively */
  display: flex;
  align-items: center;
}

.password-field input {
  flex-grow: 1;
  padding-right: 60px;
  /* Padding to prevent text overlapping with the button */
}

.password-field button {
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  right: 15px;
  height: calc(100% - 30px);
  padding: 0;
  border: none;
  border-radius: 0 10px 10px 0;
  background: none;
  cursor: pointer;
}

.registration-form input:focus {
  box-shadow: 0 0 3px #666;
}

.registration-form label {
  display: flex;
  align-items: center;
  /* Выровняйте checkbox и текст по вертикали */
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  color: rgba(101, 101, 101, 1);
  gap: 6px;
  padding: 0 3px 0 3px;
}

.registration-form label a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(101, 101, 101, 1);
}

.registration-form h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.registration-form .error-text-label-register {
  color: red;
  font-size: 16px;
}

.registration-form button:hover {
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: 600;
  text-align: center;
}

.form-buttons {
  display: flex;
  margin-bottom: 20px;
}

.client-setPassword-button {
  margin-bottom: 60px;
  height: 39px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
}

.registration-client__checkbox-input,
.registration-client__checkbox-input:focus {
  margin: 0;
  box-shadow: none;
  width: 22px;
  height: 22px;
}

@media (width <=600px) {
  .registration-form {
    width: 80%;
    /* Adjust for smaller screens */
  }

  .input-fields.login input,
  .password-field input {
    width: 100%;
    /* Full width on small screens */
  }
}

.registration-client {
  width: 620px;
  max-height: 836px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.registration__logo {
  width: 90px;
  height: 86px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.registration__header {
  max-width: 500px;
  color: rgb(65 125 136 / 100%);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.registration__text {
  font-size: 20px;
  max-width: 500px;
  color: rgb(65 125 136 / 100%);
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  text-align: center;
}

.registration__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.registartion-client__input {
  width: 338px;
  height: 44px;
  padding-left: 10px;
  border: 1px solid rgb(65 125 136 / 70%);
  border-radius: 10px;
  font-size: 16px;
}

.registration-client__checkbox {
  padding-left: 10px;
  color: rgb(101 101 101 / 100%);
  font-size: 16px;
  font-weight: 400;
}

.registration-client__checkbox a {
  color: rgb(101 101 101 / 100%);
}

.registration-client__checkbox-box {
  display: flex;
}

.registration__password-field {
  display: flex;
  position: relative;
  align-items: center;
}

.registration__button-eye {
  position: absolute;
  right: 15px;
  height: calc(100% - 30px);
  padding: 0;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
  cursor: pointer;
}

.registration__button {
  width: 230px;
  height: 57px;
  padding: 15px 10px;
  border: none;
  border-radius: 100px;
  margin: 15px 10px 50px;
  appearance: none;
  background-color: #417d88;
  color: #fff;
  cursor: pointer;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700px;
}
.registration__button:disabled {
  opacity: 0.6;
  color: #dedada;
}

.forgot-button {
  border: none;
  background: none;
  text-decoration: underline;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.99px;
  text-align: left;
  color: rgba(101, 101, 101, 1);
}

.input {
  padding: 15px 20px;
}

.link {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 29.99px;
  text-align: center;
  color: rgba(65, 125, 136, 1);
}

.link a {
  color: rgba(65, 125, 136, 1);
}

.reset-password__heading {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.99px;
  text-align: center;
  color: rgba(65, 125, 136, 1);
  margin: 0;
  margin-bottom: 8px;
}

.reset-password__heading_reset {
  margin-bottom: 14px;
}

.reset-password__paragraph {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.99px;
  text-align: center;
  color: rgba(65, 125, 136, 1);
  margin: 0;
  margin-bottom: 14px;
}

.reset-password__succes {
  width: 452px;
  height: 30px;
  padding: 0px 4px 0px 4px;
  gap: 10px;
  border-radius: 3px;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 29.99px;
  text-align: center;
  color: rgba(71, 101, 73, 1);
  background: rgba(210, 238, 216, 1);
  margin-bottom: 18px;
}
