@import "../../scss-styles/variables.scss";

/* General styles for all steps */
.shepherd-theme-custom.shepherd-element {
  border: 1px solid $basic-font-color;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;

  & .shepherd-text {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
  }
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  opacity: 0.1;
}

.shepherd-complete-button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: $basic-font-color;
  background-color: transparent;
  padding: 0;

  &.shepherd-button:not(:disabled):hover {
    color: $mobile-titles-color;
    background-color: transparent;
  }
}

.shepherd-button-icon {
  width: 22px;
  height: 15px;
  background: url("./assets/onboaring-next-step-icon.svg") no-repeat center
    center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.shepherd-button-icon:not(:disabled):hover {
  opacity: 0.8;
  background-color: transparent;
  background: url("./assets/onboaring-next-step-icon.svg") no-repeat center
    center;
}
