.diary {
  width: 100%;
  padding: 0 21px;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary {
    padding: 0 28px;
    padding-bottom: 75px;
  }
}

.diary__header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 80px;
  border-bottom: 1px solid #417d88;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__header {
    flex-direction: column;
    border: none;
    row-gap: 40px;
    padding: 0;
    margin-top: 75px;
    margin-bottom: 40px;
    height: auto;
  }
}

.diary__header-title {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 500;
  line-height: 28px;
  color: #656565;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__header-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    align-self: start;
    color: #0b4a56;
  }
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 166px;
  gap: 7px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button__container {
    padding: 14px 24px;
    font-size: 22px;
    font-weight: 500;
    line-height: 17px;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    column-gap: 20px;
  }
}

.button__image {
  width: 16px;
  height: 16px;
}

.diary__section {
  margin-top: 18px;
  background-color: #fbfbfb;
  width: 935px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__section {
    width: 100%;
  }
}

.diary__list {
  padding: 20px 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .diary__list {
    grid-template-columns: auto;
    padding: 0;
  }
}

.close-modal__text {
  width: 611px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #656565;
}

.diary__button {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  color: #fff;

  width: 163px;
  height: 39px;
  margin: 0;
}

.diary__buttons-modal {
  padding-top: 27px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
