@import "../../scss-styles/mixins.scss";
@import "../../scss-styles/variables.scss";

.card__input-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  color: $additional-font-color;
  column-gap: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.06;
}

.card__input-checkbox {
  width: 32px;
  height: 17px;
  padding: 0;
  border: 1px solid #656565;
  border-radius: 100px;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.card__input-checkbox:focus-visible {
  outline: 2px solid #00f;
  outline-offset: 1px;
}

.card__input-checkbox:checked {
  background-color: #417d88;
}

@include mobile() {
  .card__input-checkbox:checked {
    min-width: 32px;
  }
}

.card__input-checkbox::after {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #417d88;
  content: "";
  transform: translate(0.1em, 0.08em);
  transition:
    transform 0.5s,
    background-color 0.5s;
}

.card__input-checkbox:checked::after {
  background-color: #fff;
  transform: translate(1.22em, 0.08em);
}
