.clients-page {
  display: flex;
  flex-direction: column;
  padding: 35px;
  color: #656565;
}
.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
h1{
  font-size: 36px;
  line-height: 28px;
  font-weight: 500;
}


.client-button {
  background-color: #417D88;
  font-family: "Montserrat", sans-serif;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-filters {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.search {
  display: flex;
  flex: 70%;
}
.search-input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.6);
  font-family: "Montserrat", sans-serif;
  margin-right: -25px;
  font-size: 16px;
  background-color: white;
}

.search-button {
  flex: 0;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 10px;
}

select {
  flex: 15%;
  padding: 10px 15px;
  border: 1px solid #d1d1d1;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  -webkit-appearance: none; /* Удаление стандартного вида для Webkit браузеров */
  -moz-appearance: none; /* Удаление стандартного вида для Firefox */
  appearance: none; /* Удаление стандартного вида для других браузеров */
  cursor: pointer; /* Изменение курсора при наведении */ 
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%23656565'><path d='M7 10L12 3H2z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  color: #656565;
}

.clients-list {
  overflow-x: auto;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 15px;
  box-sizing: border-box;
}

td, th {
  border: none;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-weight: medium;
  font-size: 16px;
}

td{
  vertical-align: middle;
  height: 50px;
}

th {
  background-color: transparent;
  font-size: 16px;
  font-weight: normal;
}

.link-to-client{
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  margin-right: 0.75cm;
  width: 50px;
  height: 50px;
}

tr {
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
}

.actions{
  display: flex;
  align-items: center;
}

.open-modal-button{
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: 0.25s linear;
}
.open-modal-button:hover{
  background-color: rgba(220, 220, 220, 0.2);
  scale: 1.2;
}

.action-button{
  background-color: #417D88;
  color: #fff;
  cursor: pointer;
  margin: 15px 10px 15px 10px;
  font-family: "Montserrat", sans-serif;
  padding: 15px 10px;
  border-radius: 100px;
  border: none;
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001; 
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: red;
}
.delete-modal-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**?*??*/
/**?*??*/
/**?*??*/
/**?*??*/
/**?*??*/
/**?*??*/
/*CLIENTS DETAIL PART*/
.client-detail-page{
  padding: 10px 30px;
}
.client-detail-page h2{
  font-weight: 500;
  font-size: 36px;
}
.client-detail-page header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #656565;
  margin-bottom: -20px;
}

.client-detail-page header div{
  display: flex;
  align-items: center;
}

.client-detail-page header img{
  width: 46px;
  height: 46px;
}

.profile-tab{
  background-color: #fff;
  padding: 20px 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(215, 228, 231, 0.6);
} 

.profile-tab h3{
  margin: 0;
  color: #417D88;
  font-weight: 600;
}
.profile-tab p{
  margin: 10px 0;
  font-weight: 500;
  color: #656565;
}

.tabs button{
  width: 33.3%;
  background-color: transparent;
  color: #656565;
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #417D88;
  font-family: "Montserrat", sans-serif;
}

.tabs button.active{
  font-weight: 700;
  border-bottom: 4px solid #417D88;
  color: #417D88;
}

.tabs button:hover{
  color: #417D88;
  cursor: pointer;
}

.assignments-tab{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;
}
