.clients-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #656565;
}


.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
h1{
  font-size: 36px;
  line-height: 28px;
  font-weight: 500;
}


.add-client-button {
  background-color: #417D88;
  font-family: "Montserrat", sans-serif;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 3px 20px;
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
}
.add-client-button::before{
  content: url("https://i122.fastpic.org/big/2023/1025/31/132c637b2029a93255b76c650b212231.png");
}


.search-filters {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.search {
  display: flex;
  flex: 70%;
}
.search-input {
  flex: 1;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: -25px;
  font-size: 16px;
}

.search-button {
  flex: 0;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 10px;
}

select {
  flex: 7%;
  padding: 5px;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 17px;
  border-radius: 10px;
  -webkit-appearance: none; 
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='black'><path d='M7 10L12 3H2z'/></svg>");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 14px 14px;
  padding-right: 14px;
  color: #656565;
}

.clients-list {
  overflow-x: auto;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

td, th {
  border: none;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-weight: medium;
  font-size: 16px;
  line-height: 17px;
}

th {
  background-color: transparent;
  font-size: 16px;
  line-height: 17px;
  font-weight: normal;
}

.full-name-cell {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  margin-right: 0.75cm;
  width: 46px;
}

tr {
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
}
