@import "../../../../scss-styles/variables.scss";

.shepherd-theme-custom.shepherd-element.welcome {
  padding: 20px;
  min-width: 564px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 0px 3px 1px #d7e4e773;

<<<<<<< HEAD
  @include mobile() {
    min-width: auto;
    max-width: 80%;
  }

=======
>>>>>>> 964b4b468a904674618da8015bccc1d1f5cea286
  & .shepherd-content .shepherd-text {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    color: $additional-font-color;
  }

  & .shepherd-content .shepherd-footer {
    min-width: 160px;

    & button {
      width: 100%;
      background-color: $basic-font-color;
      border-radius: 100px;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 17px;
      text-align: center;
      padding: 12px;
      color: $basic-background-color;
    }
  }
}

.welcome-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.welcome-message {
  margin-bottom: 30px;
}
